# Credentials
client_secrets.json
token.pickle

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# Environment
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes